__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll
*.dylib
*.egg-info/
*.dist-info/
.env
.venv/
venv/
Pipfile.lock
poetry.lock

node_modules/
package-lock.json
yarn.lock

.env
config/settings.json
config/.env.example

*.sqlite3
*.db
*.sql
dump.sql
__dump/

logs/
*.log
*.out
*.err
nohup.out

.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
*.log
.npm/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
pytestdebug.log

dist/
build/
site/

.bkp
run.sh

**/.DS_Store